body {
    background: lightcyan;
}

.topnav {
    max-width: 750px;
    margin-left: auto;
    margin-right:auto;
    
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}